/* General Style Starts
===================================================================================================================================*/

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

h1,h2,h3,h4,h5,h6 {font-weight: 600;}


/* General Style Ends
===================================================================================================================================*/


/* Header Style Starts
===================================================================================================================================*/


/* Header Style Ends
===================================================================================================================================*/
.header {position: relative;}

/* Footer Style Starts
===================================================================================================================================*/

/* Footer Style Ends
===================================================================================================================================*/


/* miscellaneous Style Starts
===================================================================================================================================*/
.discount-offer {background: #dd121f; color: #ffffff; padding: 6px 50px 6px 0; text-align: center; position: relative;}
.discount-offer > em {position: absolute; right:0; top:0; color: #ffffff; margin: 9px 20px 0 0;}
.discount-offer > p {margin:0; font-size: 14px;}

/* miscellaneous Style Ends
===================================================================================================================================*/